{{define "connection"}}
<!DOCTYPE html>
<html lang="en">

{{template "header"}}

<body>

    {{template "navbar"}}

    <div class="container-fluid">
        <div class="borderBox">
            <form id="connectionForm">
                <fieldset disabled="disabled">
                    <input type="text" name="id" id="inputID" value={{.ID}} hidden>
                    <div class="form-group">
                        <label for="inputAddress">Name</label>
                        <input type="text" name="name" class="form-control" id="inputName" placeholder="FTP1" value={{.Name}} required>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Server address</label>
                        <input type="text" name="server_add" class="form-control" id="inputServer" placeholder="ftp.server.net:21" value={{.SerAddr}}
                            required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">username</label>
                            <input type="text" name="username" class="form-control" id="inputUsername" placeholder="username" value={{.User}} required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" name="password" class="form-control" id="inputPassword" value={{.Pass}} placeholder="Password">
                        </div>
                    </div>
                </fieldset>
                <button type="button" onclick="enableForm()" class="btn btn-primary" name="edit">Edit</button>
                <button type="button" onclick="addJob()" class="btn btn-success" name="edit">Add Job</button>
                <button type="button" onclick="submitConnForm()" class="btn btn-primary" name="submit" style="display:none">Submit</button>
                <button type="button" onclick="disableForm()" class="btn btn-warning" name="cancel" style="display:none">Cancel</button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#confirmDelete">
                    Delete
                </button>

            </form>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered">
                <caption>List of Jobs</caption>
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Filename</th>
                        <th scope="col">Job Type</th>
                        <th scope="col">FTP Dir</th>
                        <th scope="col">Local Dir</th>
                        <th scope="col">Next Run at</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $i, $j := .Jobs}}
                    <tr>
                        <th scope="row">{{$j.ID}}</th>
                        <td>{{$j.FileName}}</td>
                        <td>{{$j.Direction}}</td>
                        <td>{{$j.FtpDir}}</td>
                        <td>{{$j.LocalDir}}</td>
                        <td>{{formateDate $j.NextRun}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete this connection?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="deleteConn()">Yes</button>
                </div>
            </div>
        </div>
    </div>

    {{template "jsScripts"}}
</body>

</html>
{{end}}